<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

{% extends "base.html" %}

{% block content %}



<h1>{{ name }} - {{ map }}</h1>
<p>
    <a href="/admin/ahe_mb/bitmap/{{ map.pk }}/change/">Edit</a>
</p>
<p>
    <a href="../csv/">Download CSV</a>
</p>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Start Bit</td>
        <td> End Bit</td>
        <td>Description</td>
    </tr>
    <tbody>
        {% for field in fields %}
        <tr>
            <td>{{ field.ahe_name }}</td>
            <td>{{ field.start_bit }}</td>
            <td> {{ field.end_bit }} </td>
            <td>{{ field.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}