<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
{% extends "base.html" %}

{% block content %}

<h1>{{ master.name }} - {{ master.version }}</h1>
<p>
    <a href="../csv/">Download CSV</a>
</p>
<table>
    <tr>
        <td>Device Type</td>
        <td>Map</td>
        <td>Read Spaces</td>
        <td>Register Type</td>
        <td>Max read size</td>
        <td>Start Address</td>
    </tr>
    <tbody>
        {% for detail in details %}
        <tr>
            <td>{{ detail.device_type }}</td>
            <td>{{ detail.map }}</td>
            <td>{{ detail.read_spaces }}</td>
            <td>{{ detail.map_reg }}</td>
            <td>{{ detail.map_max_read }}</td>
            <td>{{ detail.start_address }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}