{% extends "base.html" %}

{% block content %}
<h1> Modbus setup</h1>
<p></p>
<table border="1">
    <tbody>
        <tr>
            <td>Setup</td>
        </tr>
        <tr>
            <td>
                <a href="bitmap">Bitmap</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="map-list">Modbus</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="devices">Devices</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="enum">Enum</a>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}