<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
{% extends "base.html" %}

{% block content %}

<h1>{{ map.name }} - {{ map.version }}</h1>
<p>
    <a href="/admin/ahe_mb/map/{{ map.pk }}/change/">Edit</a>
</p>
<p>
    <a href="../csv/">Download CSV</a>
</p>
<table>
    <tr>
        <td>Ahe Name</td>
        <td>Memory Address</td>
        <td>Format</td>
        <td>size</td>
        <td>Encoding</td>
        <td>Scale</td>
        <td>Offset</td>
        <td>Bitmap</td>
        <td>Enum</td>
        <td>Description</td>
    </tr>
    <tbody>
        {% for field in fields %}
        <tr>
            <td>{{ field.ahe_name }}</td>
            <td>{{ field.field_address }}</td>
            <td>{{ field.field_format }}</td>
            <td>{{ field.field_size }}</td>
            <td>{{ field.field_encoding }}</td>
            <td>{{ field.field_scale }}</td>
            <td>{{ field.field_offset }}</td>
            <td>{{ field.bit_map }}</td>
            <td>{{ field.enum }}</td>
            <td>{{ field.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}